@import '../../style/variables.scss';

.services-container {
  background-color: #f5f6fa !important;

  .services-parent {
    background-color: #f5f6fa;
  }

  .egde-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 200vh;
    mix-blend-mode: difference;

    &.first {
      margin-top: -40vh;
      position: relative;
      z-index: 1;
      margin-bottom: -100vh;
    }

    &.last {
      margin-top: -100vh;
      margin-bottom: -40vh;
    }

    .title {
      font-size: 2em;
      font-weight: bold;
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      color: #fff;
      mix-blend-mode: difference;
    }

    .edge-text {
      will-change: auto;
      min-height: 100vh;
      position: sticky;
      mix-blend-mode: difference;
      top: 0;
    }
  }

  .bg-overlay {
    width: 100%;
    height: 100vh;
    margin-top: -100vh;
    position: sticky;
    top: 0;
    z-index: 2;
    mix-blend-mode: screen;
    background-image: linear-gradient(110deg, rgb(242, 105, 246), rgb(175, 125, 251));
  }

  .bg-contrast {
    position: sticky;
    height: 100vh;
    width: 100%;
    background-color: #000;
    top: 0;
    z-index: 0;
  }

  .services {
    z-index: 3;
    color: white;
    position: relative;
    display: flex;
    margin-top: -10vh;

    .serv-hero-track {
      width: 50%;
    }

    .serv-hero {
      height: 100vh;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-size: 36px;
      font-weight: bold;
      will-change: transform;
      position: sticky;
      top: 0;
    }

    .cards {
      width: 50%;
    }

    .card {
      position: relative;

      &.full {
        min-height: 100vh;
      }
      display: flex;
    }

    .content {
      .title-content {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 24px;
      }

      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 1.2em;
      padding: 0 36px;
      line-height: 1.8;
      will-change: transform;
      transform: translateZ(0);
      line-height: 1.4;
    }
  }

  @media screen and (max-width: #{$bp-medium}) {
    .services {
      &.container {
        margin: 0;
      }

      .cards {
        margin-left: -100%;
        width: 100vw !important;
      }

      .serv-hero-track {
        width: 100%;
      }

      .serv-hero {
        overflow: hidden;
        width: 100%;
        opacity: 0.4;
      }
    }

    .carousel {
      .slide-top {
        margin-top: 12vh !important;
      }

      .title {
        font-size: 64px !important;
      }

      .subtitle {
        font-size: 18px !important;
      }
    }
  }
}
