@import '../slide.scss';
@import '../../../style/variables.scss';

.slide-network {
  .slide-top {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .big-title {
    font-size: 6rem;
    font-weight: bold;

    img {
      width: 26rem;
    }
  }

  .title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .subtitle {
    font-size: 1em;
    margin-top: 2rem;
    text-align: center;
  }
  .content {
    margin-top: -2rem;

    .recharts-responsive-container {
      opacity: 0.4;
    }
  }

  .slide-bottom {
    z-index: 20;
    // margin-top: -2rem;
  }

  // .main-bg {
  //   height: 100vh;
  //   width: 100%;
  // }
  @media screen and (max-width: #{$bp-small}) {
    .big-title {
      img {
        width: 20rem;
      }
    }

    .subtitle {
      width: 80%;
    }
  }
}
