@import '../../style/variables.scss';

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // overflow: hidden;

  .video-track {
    margin-top: -56vh;
    // margin-top: 0;

    .video-container {
      height: 100vh;
      width: 100vw;
      position: sticky;
      top: 0;
      left: 0;
      z-index: -1;

      display: flex;
      justify-content: center;
      overflow: hidden;
      // mix-blend-mode: darken;
      // opacity: 0.2;

      .video-background {
        height: 100vh;
      }
    }

    #videoForeground {
      height: 600vh;
      margin-top: -97vh;
      margin-bottom: -144vh;
      // margin-top: 0;
      // margin-bottom: 0;
    }
  }

  .text {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    display: inline-block;
    max-width: 62%;
  }

  .project-list {
    // width: 82%;
  }

  .project {
    display: flex;
    max-width: 100%;
    max-width: 100%;
    // background-color: black;
    // color: #fff;
    padding: 2rem;
    margin-bottom: 1rem;

    .description {
      flex: 1;
    }

    .subscribe-container {
      display: flex;
      justify-content: center;
      margin-top: 0.4rem;
      flex-direction: column;
      align-items: center;

      input {
        font-size: 1.2rem;
        line-height: 2rem;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
        border-top-left-radius: 1em;
        border: 1px solid #4e2c6e;
        box-sizing: border-box;
        height: 2rem;
        outline: none;
        padding: 0;
      }

      button {
        font-size: 1em;
        border-radius: 1em;
        border: 0;
        padding: 0 12px;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
        border-top-left-radius: 1em;
        background-color: #4e2c6e;
        border: 1px solid #4e2c6e;
        color: #fff;
        box-sizing: border-box;
        height: 2rem;
        margin-top: 0.2rem;
      }

      @media screen and (min-width: #{$bp-small}) {
        flex-direction: row;

        input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding: 0 12px;
        }

        button {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }

      // @media screen and (min-width: #{$bp-large}) {
      // }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
  }

  .photo {
    img {
      width: 100px;
      border-radius: 5%;
      border-color: #999999;
      border-width: 1px;
      border-style: solid;
      margin-left: 2rem;
    }
  }

  .project-hero-track {
    height: 100vh;
    margin-top: -50vh;

    .project-hero-text {
      height: 10vh;
      position: sticky;
      top: 45vh;
      z-index: -2;

      font-size: 4rem;
      font-weight: bold;
      // display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      @media screen and (max-width: #{$bp-small}) {
        font-size: 3rem;
      }
    }
  }
}
