.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    display: inline-block;
    max-width: 62%;
  }

  .project {
    display: flex;
    max-width: 82%;
    width: 82%;
    // background-color: black;
    // color: #fff;
    padding: 2rem;
    margin-bottom: 1rem;

    .description {
      flex: 1;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
  }

  .photo {
    margin-right: 2rem;

    img {
      width: 200px;
      border-radius: 5%;
      border-color: #999999;
      border-width: 1px;
      border-style: solid;
    }
  }
}
