.networks {
  display: flex;
  flex-direction: column;
  background-color: #f5f6fa;

  h1 {
    padding: 2em 0;
    color: #036dca;
  }

  .text {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .networks-list {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    // grid-gap: 50px;
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .networks-wrapper {
    position: relative;
  }
}
