.services-hero {
  #img_availability {
    position: absolute;
    top: 155px;
    left: 116px;
    width: 400px;
    opacity: 0;
    transition: all 0.4s ease 0.4s;

    &.visible {
      transform: translateY(-50px);
      opacity: 1;
    }
  }

  #img_security {
    position: absolute;
    width: 400px;
    top: -114px;
    left: 0px;
    opacity: 0;
    transition: all 0.4s ease 0.4s;

    &.visible {
      transform: translateX(60px);
      opacity: 1;
    }
  }

  #img_reliability {
    position: absolute;
    width: 400px;
    top: 111px;
    left: 15px;
    opacity: 0;
    transition: all 0.4s ease 0.4s;

    &.visible {
      opacity: 1;
    }
  }
}
