@import '../slide.scss';
@import '../../../style/variables.scss';

.slide-launch {
  padding-top: 10vh;

  .slide-top {
    img {
      width: 28rem;
    }

    @media screen and (max-width: #{$bp-small}) {
      img {
        width: 22rem;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vh;
    // justify-content: center;

    .top-text {
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 1.2;
    }

    .more-info {
      margin-top: 2vh;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
