.services-svg {
  #bgpath1 {
    fill: #ce4fdc;
  }

  #bgpath2 {
    visibility: hidden;
  }

  #bgpath3 {
    visibility: hidden;
  }

  #extra2 {
    opacity: 0;
  }
  #extra3 {
    opacity: 0;
  }

  // svg classes
  .i1-st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #d96ae5;
  }
  .i1-st1 {
    opacity: 0.2;
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: none;
    stroke: #010101;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .i2-st0 {
    visibility: hidden;
  }

  .i3-st0 {
    visibility: hidden;
  }

  .i3-st0 {
    fill: #f4f4f4;
  }
  .i3-st1 {
    fill: url(#SVGID_1_);
  }
  .i3-st2 {
    fill: url(#SVGID_2_);
  }
  .i3-st3 {
    fill: url(#SVGID_3_);
  }
  .i3-st4 {
    fill: #c9ddee;
  }
  .i3-st5 {
    fill: #77acd8;
  }
  .i3-st6 {
    opacity: 0.51;
    fill: #ffffff;
  }
  .i3-st7 {
    fill: #3e89c8;
  }
  .i3-st8 {
    fill: url(#SVGID_4_);
  }
  .i3-st9 {
    fill: url(#SVGID_5_);
  }
  .i3-st10 {
    fill: url(#SVGID_6_);
  }
  .i3-st11 {
    fill: #c4e8f3;
  }
  .i3-st12 {
    fill: #cbebf8;
  }
  .i3-st13 {
    fill: #ebebeb;
  }
}
