.passing-text {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  // height: 128px;
  position: relative;
  background-color: #f5f6fa;

  .text {
    font-size: 4rem;
    font-weight: bold;
    margin-top: -4.2rem;
    height: 1.4rem;
    text-align: center;
    color: #fff;
    mix-blend-mode: difference;
  }
}
