@import '../../style/variables.scss';

.passing-text {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  // height: 128px;
  position: relative;
  background-color: #f5f6fa;

  .text {
    font-size: 4rem;
    font-weight: bold;
    margin-top: -3.8rem;
    height: 18rem;
    text-align: center;
    color: #fff;
    mix-blend-mode: difference;
    .subtext {
      font-size: 1rem;
      font-weight: normal;
      text-align: center;
      margin-top: 0.4rem;
      margin-bottom: 1rem;
      display: inline-block;
      max-width: 48%;
    }

    @media screen and (max-width: #{$bp-small}) {
      margin-top: -3.2rem;
      font-size: 3rem;

      .subtext {
        font-size: 1rem;
        font-weight: normal;
        text-align: center;
        margin-top: 0.4rem;
        margin-bottom: 1rem;
        display: inline-block;
        max-width: 98%;
      }
    }
  }
}
