@import '../../style/variables.scss';

.coverlet-header {
  position: absolute;
  margin-top: 8px;
  color: white;
  overflow: hidden;
  font-size: 0.7rem;
  display: flex;
  z-index: 5;
  padding: 24px 32px;

  .container {
    align-items: center;
    display: flex;
  }

  .logo {
    width: 200px;
    @media screen and (max-width: #{$bp-small}) {
      width: 140px;
    }
  }

  .nav {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 48px;

    @media screen and (max-width: #{$bp-small}) {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      margin-right: 0;
      background: #ffc800;
      flex-flow: column;
      justify-content: center;
      transform: translate3d(100%, 0, 0);
      transition: transform 0.5s ease;

      .has-menu & {
        transform: translate3d(0, 0, 0);
      }
    }

    a {
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      margin-right: 24px;

      &:visited {
        color: #fff;
      }

      &:hover {
        color: #fff;
      }

      @media screen and (max-width: #{$bp-small}) {
        font-size: 7.5vw;
        color: #000;
        &:visited {
          color: #000;
        }
      }
    }
  }

  .right-panel {
    padding-left: 24px;
  }

  .stake-container {
    align-items: center;
    display: flex;
    @media screen and (max-width: #{$bp-small}) {
      display: none;
    }
  }
  .menu-burger {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 40px;
    right: 30px;
    z-index: 1001;
    display: none;
    button {
      background: none;
      padding: 0;
      div {
        width: 2rem;
        height: 0.25rem;
        margin-bottom: 5px;
        background-color: #fff;
        border-radius: 10px;
        transform-origin: 1px;
        transition: all 0.3s linear;
        &:nth-child(1) {
          transform: rotate(0deg);
        }
        &:nth-child(2) {
          transform: translateX(0px);
          opacity: 1;
        }
        &:nth-child(3) {
          transform: rotate(0deg);
        }
      }

      .has-menu & {
        div {
          background-color: #000;
          &:nth-child(1) {
            transform: rotate(40deg);
          }
          &:nth-child(2) {
            transform: translateX(0px);
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-40deg);
          }
        }
      }
    }

    @media (max-width: 768px) {
      display: flex;
      justify-content: space-around;
      flex-flow: column nowrap;
    }
  }
}
