.coverlet-header {
  position: absolute;
  margin-top: 8px;
  color: white;
  overflow: hidden;
  font-size: 0.7em;
  display: flex;
  z-index: 3;
  padding: 24px 32px;

  button.rs-btn {
    color: #fff;

    &:hover {
      color: #003885 !important;

      &.stake-with-us {
        color: #000 !important;
      }
    }

    &.stake-with-us {
      padding: 12px 48px;
      font-weight: bold;
    }
  }

  .container {
    align-items: center;
    display: flex;
  }

  .logo {
    width: 200px;
  }

  .nav {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    align-content: center;

    button {
      margin: 0 4px;
    }
  }

  .right-panel {
    padding-left: 24px;
  }
}
