@import '~rsuite/lib/styles/themes/default/index.less';
// @import '~rsuite/lib/styles/themes/dark/index.less';

// node_modules/rsuite/es/styles/variables.less
@body-bg: #ffffff;
@font-family-base: 'Eina', sans-serif;
@placeholder-holder-bg: #6f8aaf;
@placeholder-holder-bg-active: #92aaca;
@base-color: #fdd03b;

// @btn-ghost-border-color: #fff;
// @btn-ghost-color: #fff;

button.rs-btn {
  border-radius: 0 !important;
  font-size: 0.9em;

  &.button-large {
    padding: 12px 48px;
    font-weight: bold;
  }
}

.rs-btn-primary {
  color: #000 !important;
}

.rs-btn-primary.rs-btn-blue {
  color: #fff !important;
}

.rs-btn-ghost {
  border-color: #fff !important;
  color: #fff !important;

  &:hover {
    // border-color: rgba(255, 255, 255, 0.589) !important;
    // color: rgba(255, 255, 255, 0.589) !important;
    color: #003885 !important;
    background-color: #fff;
  }
}

.rs-nav-item-content {
  color: #fff !important;
}

.rs-placeholder-active p{
  animation: placeholder-active 1s ease infinite !important;
}