@import 'variables.scss';

@font-face {
  font-family: 'Eina';
  src: url('/fonts/eina01-bold.woff2') format('woff2'),
    url('/fonts/eina01-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eina';
  src: url('/fonts/eina01-regular.woff2') format('woff2'),
    url('/fonts/eina01-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 768px) / 680));
  }
}
@media screen and (min-width: 2120px) {
  html {
    font-size: 28px;
  }
}

body {
  background-color: #f5f6fa !important;
  color: #000 !important;
  font-size: unset !important;
}

.small {
  font-size: 12px;
}

.muted {
  color: #666;
}
