// TODO:  mayber remove this
.carousel-fix {
  background-color: #000;
}

.carousel {
  color: #fff;
  height: 100vh;
  position: relative;
  background: linear-gradient(60deg, #0467c4, #003885);

  position: relative;
  mix-blend-mode: screen;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
