@import '../../style/variables.scss';

$light-color: #fff;
$dark-color: #f9fafc;

// $bg-light-color: $light-color;
// $bg-dark-color: $dark-color;
$bg-light-color: #fff;
$bg-dark-color: #f5f5f5;

.network {
  position: relative;
  z-index: 2;
  width: 25%;

  &:hover {
    z-index: 3;
  }

  &:nth-child(even) {
    .inner {
      background-color: $bg-dark-color;
      .rs-ripple.reveal-ripple {
        background-color: $bg-light-color;
      }
    }
    .inner.odd4 {
      background-color: $bg-light-color;
      .rs-ripple.reveal-ripple {
        background-color: $bg-dark-color;
      }
    }
  }

  &:nth-child(odd) {
    .inner {
      background-color: $bg-light-color;
      .rs-ripple.reveal-ripple {
        background-color: $bg-dark-color;
      }
    }
    .inner.odd4 {
      background-color: $bg-dark-color;
      .rs-ripple.reveal-ripple {
        background-color: $bg-light-color;
      }
    }
  }

  @media screen and (max-width: #{$bp-large}) {
    width: 33%;

    &:nth-child(even) {
      .inner {
        background-color: $bg-dark-color;
        .rs-ripple.reveal-ripple {
          background-color: $bg-light-color;
        }
      }
      .inner.odd4 {
        background-color: $bg-dark-color;
        .rs-ripple.reveal-ripple {
          background-color: $bg-light-color;
        }
      }
    }

    &:nth-child(odd) {
      .inner {
        background-color: $bg-light-color;
        .rs-ripple.reveal-ripple {
          background-color: $bg-dark-color;
        }
      }
      .inner.odd4 {
        background-color: $bg-light-color;
        .rs-ripple.reveal-ripple {
          background-color: $bg-dark-color;
        }
      }
    }
  }

  @media screen and (max-width: #{$bp-small}) {
    width: 50%;

    &:nth-child(even) {
      .inner {
        background-color: $bg-dark-color;
        .rs-ripple.reveal-ripple {
          background-color: $bg-light-color;
        }
      }
      .inner.odd2 {
        background-color: $bg-light-color;
        .rs-ripple.reveal-ripple {
          background-color: $bg-dark-color;
        }
      }
    }

    &:nth-child(odd) {
      .inner {
        background-color: $bg-light-color;
        .rs-ripple.reveal-ripple {
          background-color: $bg-dark-color;
        }
      }
      .inner.odd2 {
        background-color: $bg-dark-color;
        .rs-ripple.reveal-ripple {
          background-color: $bg-light-color;
        }
      }
    }

    button.rs-btn {
      font-size: 0.8em;
    }
  }

  &:before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 100%;
  }

  .inner {
    position: absolute;
    background-color: #ffffff;
    will-change: transform;
    margin: 8px;
    padding: 2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    cursor: pointer;
    transform: scale(1);
    transform-origin: 50% 100%;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0px 0px 28px 0px rgb(0 0 0 / 0%);
    transition-property: transform, box-shadow;

    .rs-ripple.reveal-ripple {
      // background-color: #00000011;
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.4s ease 0.2s;
      transform: scale(0);
      width: 100%;
      height: 100%;
      left: 0%;
      top: 55%;
    }

    .chart {
      opacity: 0;
      transform: translateY(0) scaleY(20%);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.4s ease 0.2s;
    }

    &:hover:not(.network-selected) {
      transform: scale(1.07);
      box-shadow: 0px 0px 28px 0px rgb(0 0 0 / 16%);

      .chart {
        opacity: 1;
        transform: translateY(14px);
      }

      .bottom-part {
        transform: translateY(20px);
      }

      .rs-ripple.reveal-ripple {
        background-color: #ffffff !important;
        transform: scale(2.4);
      }
    }

    .name {
      margin-top: 12px;
      font-size: 1.2em;
      text-transform: uppercase;
    }

    .logo {
      img {
        width: 2em;
        height: 2em;
      }
    }

    .status {
      margin-top: 0.2em;
      display: flex;

      .status-text {
        font-size: 0.9em;
      }
    }

    @media screen and (max-width: #{$bp-small}) {
      padding: 16px;
    }
  }

  .led-green {
    margin-top: 0.7em;
    margin-left: -12px;
    width: 6px;
    height: 6px;
    background-color: #abff00;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 3px 1px, inset #304701 0 -1px 3px, #89ff00 0 2px 5px;

    @media screen and (max-width: #{$bp-small}) {
      margin-top: 7px;
    }
  }

  .led-yellow {
    margin-top: 0.7em;
    margin-left: -12px;
    width: 6px;
    height: 6px;
    background-color: #fffb00;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 3px 1px, inset #ff9f17 0 -1px 3px, #f8e004 0 2px 5px;

    @media screen and (max-width: #{$bp-small}) {
      margin-top: 7px;
    }
  }

  .status-text {
    padding-left: 6px;

    &.testnet {
      padding-left: 0px;
    }
  }

  .top-part {
    position: relative;
  }

  .bottom-part {
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
    transform: translateY(0);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.4s ease 0.2s;
  }

  button.rs-btn.rs-btn-subtle {
    color: #000;
  }
}
