@import '../../style/variables.scss';

.network-info {
  // height: 10px;
  position: absolute;
  z-index: 4;
  top: 0px;
  right: 0px;
  left: 0px;
  pointer-events: none;
  margin: -24px 0 -24px -24px;

  &.no-overflow {
    overflow: hidden;

    .info-content {
      .back {
        opacity: 0;
      }
    }
  }

  .info-content {
    margin: 24px 0 24px 24px;
    // min-height: 100%;
    position: absolute;
    background-color: #fff;
    pointer-events: all;
    top: 0px;
    right: 0px;
    left: 0px;
    //box-shadow: 0px 0px 28px 0px rgb(0 0 0 / 16%);
    transform: translateX(102%);
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0;
    font-size: 0.9rem;
    // overflow-y: scroll;
    will-change: transform;

    .right-half-container {
      min-height: 100%;
      display: flex;
    }

    &.show {
      transform: translateX(0%);
    }
    .back {
      position: absolute;
      cursor: pointer;
      //top: calc(50% - 200px);
      left: 0;
      width: 3rem;
      margin-left: 0;
      opacity: 1;
      overflow: hidden;
      display: flex;
      align-items: center;
      height: 100%;
      transition: opacity 0.5s ease;

      .back-inner {
        background-color: #000;
        width: 6rem;
        border-radius: 50%;
        height: 6rem;
        margin-left: -3rem;
      }

      svg {
        width: 2.5rem;
        fill: #ccc;
        margin-left: 3rem;
        margin-top: 1.8rem;
        transition: all 0.5s ease;
      }

      &:hover {
        svg {
          transform: translateX(10%);
          fill: #fff;
        }
      }
    }

    .right-half-container {
      padding: 4rem;
    }
  }

  .content {
    display: flex;
    flex: 1;
    overflow-x: hidden;
    font-size: 16px;

    .left {
      width: 50%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding-right: 32px;
    }

    .right {
      width: 50%;
      padding-left: 32px;
      border-left: 1px solid #ddd;
      button {
        text-transform: uppercase;
        background: #057ae1;
      }
    }

    @media screen and (max-width: #{$bp-medium}) {
      flex-direction: column;

      .left {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-right: 0;
      }

      .right {
        width: 100%;
        padding-left: 0;
        border-left: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        button {
          text-transform: uppercase;
        }
      }
    }

    .top-section {
      display: flex;
      flex-direction: row;
      .logo {
        margin-top: 0.6em;
        margin-right: 1em;
        img {
          width: 2em;
          height: 2em;
        }
      }

      .name {
        text-transform: uppercase;
        font-size: 2em;
      }
    }

    .numbers {
      display: flex;
      flex-direction: row;
      font-size: 1.1em;
      margin-top: 12px;

      .number {
        width: 33%;
        .logo {
          margin-right: 16px;
          svg {
            margin-left: 45px;
            fill:#057ae1;
          }
          img {
            margin-top: -2px;
            width: 24px;
            height: 24px;
          }
        }

        .info {
          // font-size: 0.8rem;
          color: #999;
          padding-bottom: 0.2rem;
        }

        .value {
          font-size: 1.4em;
        }

        a {
          color: #000;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .stake-button {
      display: flex;
      justify-content: center;
      margin-top: 24px;
    }

    button.stake-with-us {
      text-transform: uppercase;
    }

    .delegation {
      .delegation-top {
        font-weight: bold;
        font-size: 1.2em;
      }

      .delegation-bottom {
        display: flex;
        flex-direction: row;
        height: 44px;
        margin-top: 12px;

        .address-box {
          color: #666;
          background-color: #f5f6fa;
          line-height: 38px;
          height: 40px;
          min-width: 80%;
          max-width: 600px;
          padding: 0 16px;
          border-radius: 5px 0px 0px 5px;
        }

        .delegation-button {
          button {
            height: 40px;
            font-weight: bold;
            border-radius: 0px 5px 5px 0px !important;
            padding: 0 25px;
            background: #057ae1;
            font-size: 16px;
          }
        }
      }
    }

    .info-title {
      margin-top: 24px;
      // font-weight: bold;
      font-size: 1.4em;
      // font-size: 1.2em;
    }

    .more-info {
      .more-info-text {
      }
    }

    .facts {
      position: relative;

      .chart {
        position: absolute;
        opacity: 0.8;
        z-index: -1;
      }
    }
  }
}
