.button {
  color: #fff;
  background-color: #2196f3;

  // border-color: #fff !important;
  // color: #fff !important;
  // background-color: transparent;
  // border: 1px solid #deb618;
  // background-color: #fdd03b;

  font-size: 16px;
  padding: 8px 24px;

  border-radius: 0;
  transition: all 0.2s linear;

  border: none;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0 !important;
  white-space: nowrap;
  user-select: none;
  line-height: 1.42857143;

  // size
  &.large {
    font-weight: bold;
    padding: 20px 78px;
  }

  // color
  &.yellow {
    color: #000;
    background-color: #fdd03b;
  }

  // style
  &.ghost {
    background-color: transparent;
    border: 1px solid #fff;

    &.yellow {
      color: #fff;
    }
  }

  &:hover {
    background-color: darken(#2196f3, 8%);
    border-color: darken(#2196f3, 8%);

    &.yellow {
      color: #000;
      background-color: darken(#fdd03b, 12%);
      border-color: darken(#fdd03b, 12%);
    }
  }
}
