.slide {
  height: 400px;

  .slide0 {
    background: linear-gradient(to right, #7b1f7e, #6d46a5);
  }

  .slide1 {
    background: linear-gradient(to right, #6d46a5, #a0710a);
  }

  .slide2 {
    background: linear-gradient(to right, #a0710a, #20dad7);
  }
}
