@import '../style/variables.scss';

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .container {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;

    @media screen and (min-width: #{$bp-small}) {
      width: auto;
      margin-left: 32px;
      margin-right: 32px;
    }

    @media screen and (min-width: #{$bp-large}) {
      width: 1856px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .half-container {
    width: auto;
    margin-left: 16px;
    margin-right: 0;

    @media screen and (min-width: #{$bp-small}) {
      width: auto;
      margin-left: 32px;
      margin-right: 0;
    }

    @media screen and (min-width: #{$bp-large}) {
      width: auto;
      margin-left: calc(50%-928px);
      margin-right: 0;
    }
  }

  .right-half-container {
    width: auto;
    margin-left: 0;
    margin-right: 16px;

    @media screen and (min-width: #{$bp-small}) {
      width: auto;
      margin-left: 0;
      margin-right: 32px;
    }

    @media screen and (min-width: #{$bp-large}) {
      width: auto;
      margin-right: calc(50%-928px);
      margin-left: 0;
    }
  }

  .full-container {
    width: 100%;
  }
}
